/* ==============================
   MAIN
   ============================== */

$type-sans: 'Hind', Arial, sans-serif;
$type-header: 'Lato', 'Hind', Arial, sans-serif;

$lighterblue: #dfeef8;
$lightblue: #c0ddf2;
$keaneyblue: #2277b3;
$midblue: #30557e;
$blue: #002147;
$darkblue: #001228;

$lightgold: #fefada;
$midgold: #ffd453;
$gold: #c4960c;

$white: #ffffff;
$lightgrey: #fafafa;
$grey: #dddddd;
$midgrey: #999999;
$darkgrey: #555555;
$black: #000000;


/* ==============================
   INHERITANCES
   ============================== */

%dates-shared {
	color: #555;
	display: block;
	font-family: "Hind", Arial, sans-serif;
	font-size: .9rem !important;
	margin-bottom: 1rem !important;
}
%titles-shared {
	color: #000;
	display: block;
	font-family: "Lato", "Hind", Arial, sans-serif;
	font-weight: 600;
	font-size: 1.3rem;
	line-height: 1.5;
	margin-bottom: 1rem;

	&:hover {
		color: #005eff;
	}
}


@import 'partials/search';
@import 'partials/archive';
@import 'partials/news';
@import 'partials/media-mentions';
@import 'partials/community-messages';
