.media-mentions {

    & > div {
        border-bottom: 1px solid #eee;
        margin-bottom: 2rem;
    }

    .date {
        margin-bottom: .2rem !important;
    }
    
    .outlet {
        display: block;
        font-weight: 700;
        font-size: 1.1rem;
        color: #555;
        margin-bottom: .5rem;
    }

    &.featured {

        & > div {
            background: #fff;
            border-radius: .2rem;
            padding: 1.5rem 2rem;
            margin-bottom: 1rem;
            border: 1px solid #f1f1f1;
        }

        .title {
            border-top: 1px solid #eee;
            padding-top: .8rem;
        }

    }

}