.news-post-detail {

	font-size: .9rem;

	.contacts {
		padding-bottom: .5rem;
		margin-bottom: 1rem;
		border-bottom: 1px solid #eee;
	}

	.contacts-label {
		color: #333;
		padding-bottom: .5rem;
		font-weight: 700;
	}

	.contact {
		margin-bottom: .5rem;
	}

	.media-name a {

		text-decoration: underline;
		color: initial;

		&:hover,
		&:focus {
			color: #005eff;
		}
	}

	.media-phone {
		margin-left: .5rem;
	}

	.cl-share-wrapper {
		float: right;
	}
	
}

.news-post-date {

	.posted-on {
		font-size: 0;
		time {
			font-size: 1rem;
			font-weight: 700;
			border-bottom: 1px solid #eee;
			padding-bottom: .5rem;
			margin-bottom: 1rem;
			display: inline-block;
		}
	}

	.updated-on {
		display: none;
	}

}

@media screen and (min-width:800px) {
	.news-post-detail {
		float: right;

		.cl-share-wrapper {
			float: none;
		}

	}
}

.entry-title {
	line-height: 1.5;
}

.cl-tiles .listing-item .wp-post-image {
	display: block;
	margin-bottom: 1rem;
}

.listing-item {
	a.title {
		@extend %titles-shared;
	}
	.date {
		@extend %dates-shared;
	}
	
	.excerpt {
		color: #555;
		display: block;
		font-size: 1rem;
		line-height: 1.5;
	}
}

.excerpt-dash {
	display: none;
}


.category article .posted-on {
	@extend %dates-shared;
}
.category article .updated-on {
	display: none;
}
.category .entry-title {
	@extend %titles-shared;
}

.lead-story a.title {
	font-size: 1.7rem  !important;
}



.end-of-article-call {
	background-color: $lighterblue;
	font-family: $type-sans;
	font-size: 1.2rem;
	margin: 8rem 0 4rem;
	opacity: 0;
	padding: 0 2rem;
	transition: all 500ms cubic-bezier(.3, .6, .6, 1);


	h4, p {
		margin-top: 0;
	}
	
	.previous {
		img.wp-post-image {
			margin-right: .75em;
			display: block;
			float: left;
		}
		&:after {
			content:'.';
			display: block;
			clear: left;
			height: 0;
			visibility: hidden;
		}
	}

	&.shown {
		margin-top: 2rem;
		background-color: $lighterblue;
		opacity: 1;
		padding: 1.5rem 2rem;
		transform: rotate(0);
	}
	
}