.news-post-detail {
	margin: 2rem 0;
	font-size: 1rem;
	.media-name, .media-phone {
		margin-right: .5rem;
	}
	div {
		display: inline;
	}
	
	.updated-on {
		display: none;
	}
	
	.posted-on {
		font-size: 0;
		time {
			font-size: 1rem;
		}
	}

	.cl-share-wrapper {
		padding-top: .5em;
		position: relative;
		z-index: 999;
		.cl-share-label {
			background-color: transparent;
			padding-left: 0;
		}
		a {
			position: relative;
			z-index: 999;
		}
	}
	
}

.entry-title {
	line-height: 1.5;
}

.cl-tiles .listing-item .wp-post-image {
	display: block;
	margin-bottom: 1rem;
}

.listing-item {
	a.title {
		@extend %titles-shared;
	}
	.date {
		@extend %dates-shared;
	}
	
	.excerpt {
		color: #555;
		display: block;
		font-size: 1rem;
		line-height: 1.5;
	}
}

.excerpt-dash {
	display: none;
}


.category article .posted-on {
	@extend %dates-shared;
}
.category article .updated-on {
	display: none;
}
.category .entry-title {
	@extend %titles-shared;
}

.lead-story a.title {
	font-size: 1.7rem  !important;
}



.end-of-article-call {
	background-color: $lighterblue;
	font-family: $type-sans;
	font-size: 1.2rem;
	margin: 8rem 0 4rem;
	opacity: 0;
	padding: 0 2rem;
	transition: all 500ms cubic-bezier(.3, .6, .6, 1);


	h4, p {
		margin-top: 0;
	}
	
	.previous {
		img.wp-post-image {
			margin-right: .75em;
			display: block;
			float: left;
		}
		&:after {
			content:'.';
			display: block;
			clear: left;
			height: 0;
			visibility: hidden;
		}
	}

	&.shown {
		margin-top: 2rem;
		background-color: $lighterblue;
		opacity: 1;
		padding: 1.5rem 2rem;
		transform: rotate(0);
	}
	
}